.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh; // 20vh is the difference between 75vh and 95vh in the first section clip()ed polygon. Negative margin moves it up
}

.section-features {
  padding: 20rem 0; // 1st param: top/bottom, 2nd param: left/right
  /* background-image is used to specify gradients. This syntax is to display both the image and the gradient at the same time */
  background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
    url('../img/nat-4.jpg');
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -11.5rem;

  &>* {
    // Select ALL DIRECT CHILDREN (children 1 level down: row)
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -11rem;

}

.section-stories {
  padding: 15rem 0;
  background-color: $color-grey-light-1;
}