.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url('../img/hero.jpg'); /* background-image is used to specify gradients. This syntax is to display both the image and the gradient at the same time */
  background-size: cover; /* Fit the element to the width of its container */
  background-position: top; /* The top of the img stays at the top of the container, the bottom might get cropped. Center => crop at top and bottom evenly */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%); /* To clip out part of the image, use polygon to specify the coordinates you want to keep VISIBLE starting from top left, top right, bottom right, bottom left. You can draw ANY POLYGON with this function! http://bennetfeely.com/clippy/ for shapes */
  position: relative;

  &__logo-box {
    position: absolute;
    top: 4rem; /* counting from a parent element with a position set to RELATIVE (header in this case! Without setting position:relative on the header, this would NOT work!) */
    left: 4rem;
  }
  &__logo {
    height: 3.5rem; /* width will scale automatically */
  }
  
  &__text-box {
    position: absolute;
    top: 40%; /* In relation to the PARENT element */
    left: 50%;
    transform: translate(-50%, -50%); /* This is relative to the element itself! Centers the MIDDLE of the element and vertically */
    text-align: center;
  }
}